# **Character to Int**

In [52]:
char = '7'
num = int(char)
print(char ,type(char), num ,type(num))

7 <class 'str'> 7 <class 'int'>

In [53]:
char = 'a'
num = int(char)    # Only works if the character is a digit ('0' to '9')
print(char ,type(char), num ,type(num))

ValueError: invalid literal for int() with base 10: 'a'

In [54]:
char = 'a'
num = ord(char)    # Only works if the character is a digit ('0' to '9')
print(char ,type(char), num ,type(num))

a <class 'str'> 97 <class 'int'>

# **Strings**

---
1. Extract the 6th character from the string "Python programming is fun" `

In [ ]:
str = "Python programming is fun"
str[5]

'n'

---
2. Find the character 'g' from the string "Python programming is fun" `

In [ ]:
str.index('n')

5

In [ ]:
str = "Python programming is fun"
temp = 0
pos = 0
while temp == 0:
  try:
    a = str.index('n', pos)
    print(a)
    if a < len(str):
      pos = a+1
    else :
      temp = 1

  except ValueError:
    break

5
16
24

---
4. From the string "Coding every day makes you better":

a. Slice out the word every

b. Retrieve the word day using a negative index range

In [ ]:
str1 = "Coding every day makes you better"
words = str1.split()
print(words[1])

every

In [ ]:
print(words[-4])

day

---
5. Given the string "Learning to code is a valuable skill":

a. Use slicing to print every second character

b. Use slicing to print every third character

In [ ]:
str2 = "Learning to code is a valuable skill"
words = str2.split()
print(words)
print(words[0][1:2:1])
print(words[2][1:2:])

print(words[0][2:3:1])
print(words[2][2:3:])

['Learning', 'to', 'code', 'is', 'a', 'valuable', 'skill']
e
o
a
d

---
6. For s = "Practice makes perfect", try these: a. s[:] b. s[0:] c. s[:18] d.
Just s

In [ ]:
s = "Practice makes perfect"
print(s[:])
print(s[0:])
print( s[2:10:5])
print( s )

Practice makes perfect
Practice makes perfect
ae
Practice makes perfect

`**str[Start:End:Step]**`

**If only two parameters are given in string slicing:
Then the second one is always the end index, not the length**

---
7. Convert the string "67890" into an integer and verify the data type

In [ ]:
str3 = "67890"
num = int(str3)
print(num,type(num))

67890 <class 'int'>

In [ ]:
str3 = "67890.6"
num = float(str3)
print(num,type(num))

67890.6 <class 'float'>



---
---

# **Lists**

1. Create:

a. A list of 5 numbers

b. A list of 4 city names

c. A mixed list with both strings
and numbers

In [ ]:
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [ ]:
cities = ["Pune","Mumbai","Delhi","Chennai"]
cities

['Pune', 'Mumbai', 'Delhi', 'Chennai']

In [ ]:
mixed = [1,2,"One","Two"]
mixed

[1, 2, 'One', 'Two']

## 2. Perform these list operations:

In [ ]:
l = [1,2,3,4,"one","two","three","four",5]
l

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5]

**a. Get the number of elements in the list**

In [ ]:
len(l)

9

**b. Display each element using a loop**

In [ ]:
for item in l:
  print(item)

1
2
3
4
one
two
three
four
5

**c. Add an element to the end**

In [ ]:
l.append(6)
l

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, 6]

**d. Insert an element at the beginning**

In [ ]:
l.insert(0,0)
l

[0, 1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, 6]

**e. Insert an element at position 2**

In [ ]:
l.insert(2,"zero")
l

[0, 1, 'zero', 2, 3, 4, 'one', 'two', 'three', 'four', 5, 6]

**f. Combine two lists using both + and .extend() methods and observe differences**

| Operation         | What it Does                                | In-place? | Example            | Output           |
| ----------------- | ------------------------------------------- | --------- | ------------------ | ---------------- |
| `+` (concatenate) | Joins two lists and returns a **new list**  | ❌ No      | `[1, 2] + [3, 4]`  | `[1, 2, 3, 4]`   |
| `.append(x)`      | Adds `x` as a **single element** at the end | ✅ Yes     | `a.append([3, 4])` | `[1, 2, [3, 4]]` |
| `.extend(x)`      | Adds each element of `x` **individually**   | ✅ Yes     | `a.extend([3, 4])` | `[1, 2, 3, 4]`   |

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
l2 = [11,12,13]
l3 = l1+l2
l3

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, 11, 12, 13]

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
l2 = [11,12,13]
l1.append(l2)
print(l1)

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, [11, 12, 13]]

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
l2 = [11,12,13]
l1.extend(l2)
print(l1)

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
l2 = "san"
l1.append(l2)
print(l1)

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, 'san']

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
l2 = "san"
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5, 's', 'a', 'n']

**g. Retrieve the 4th item from a list**

In [ ]:
l1[3]

4

**h. Retrieve items from index 1 to 3**

In [ ]:
print(l1[1:3])

[2, 3]

**i. Replace an item with a new one**

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
print(l1)
l1[4] = "Eleven"
print(l1)

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5]
[1, 2, 3, 4, 'Eleven', 'two', 'three', 'four', 5]

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
print(l1)
l1.pop(4)
l1.insert(4,'eleven')
print(l1)

[1, 2, 3, 4, 'one', 'two', 'three', 'four', 5]
[1, 2, 3, 4, 'eleven', 'two', 'three', 'four', 5]

In [ ]:
l1 = [1,2,3,4,"one","two","three","four",5]
index = l1.index("one")
l1[index] = 'eleven'
print(l1)

[1, 2, 3, 4, 'eleven', 'two', 'three', 'four', 5]

## 3. Simulate a stack using list operations

In [ ]:
def push(l,val):
  l.append(val)
  print(l)

def pop(l):
  print(l.pop())

In [ ]:
l1 = []
push(l1,1)

[1]

In [ ]:
push(l1,3)

[1, 3]

In [ ]:
push(l1,33)

[1, 3, 33]

In [ ]:
pop(l1)

33

In [ ]:
push(l1,45)

[1, 3, 45]

## **4. Simulate a queue using list operations**

In [ ]:
def q_push(l,val):
  l.insert(0,val)
  print(l)

def q_pop(l):
  print(l.pop())

In [ ]:
l2=[]
q_push(l2,1)

[1]

In [ ]:
q_push(l2,4)

[4, 1]

In [ ]:
q_push(l2,6)

[6, 4, 1]

In [ ]:
q_pop(l2)

1

In [ ]:
q_push(l2,56)

[56, 6, 4]

## **Sorting**
5. Given URLs:
urls = ["www.alpha.edu", "www.search.com", "www.newsnet.com", "www.site.org",
"www.tech.gov.in"]

In [ ]:
urls = ["www.alpha.edu", "www.search.com", "www.newsnet.com", "www.site.org",
"www.tech.gov.in"]
urls

['www.alpha.edu',
 'www.search.com',
 'www.newsnet.com',
 'www.site.org',
 'www.tech.gov.in']

In [ ]:
#sort by len
urls.sort(key=len,reverse=False)
urls

['www.site.org',
 'www.alpha.edu',
 'www.search.com',
 'www.tech.gov.in',
 'www.newsnet.com']

**Sort based on their domain extension**

In [ ]:
def customsort(str):
  return(str.split('.')[-1])


urls.sort(key=customsort,reverse=False)
urls

['www.search.com',
 'www.newsnet.com',
 'www.alpha.edu',
 'www.tech.gov.in',
 'www.site.org']

## **So using "key=" another dummy list is created and that dummy list is sorted**

## 6.
Given:
color_names = ["Cyan", "Magenta", "Yellow", "Black"]

color_codes = [202, 303, 404, 505]

Perform:
a. Print all colors, then print only the first color

b. Print the list twice

c. Combine color names and codes into a single list

d. Print from 2nd code to last

e. Show the data type of the final code item

In [ ]:
color_names = ["Cyan", "Magenta", "Yellow", "Black"]
color_codes = [202, 303, 404, 505]

In [ ]:
print(color_names)
print(color_names[0])

['Cyan', 'Magenta', 'Yellow', 'Black']
Cyan

In [ ]:
print(color_names*2)

['Cyan', 'Magenta', 'Yellow', 'Black', 'Cyan', 'Magenta', 'Yellow', 'Black']

In [ ]:
mergedList = color_names + color_codes
print(mergedList)

['Cyan', 'Magenta', 'Yellow', 'Black', 202, 303, 404, 505]

In [ ]:
print(color_codes[1:])

[303, 404, 505]

In [ ]:
type(mergedList)

list

## 7.

Write def count_same_ends(words) that returns the count of words with:
* length ≥ 2, and
* same starting and ending character

In [ ]:
def countSameEnds(words):
  words = words.split()
  cnt = 0
  cnt1 = 0
  for word in words:
    if len(word) >= 2:
      cnt = cnt + 1

    if word[0] == word[-1]:
      print(word)
      cnt1 = cnt1 + 1

  print("Words with lenght >= 2: ",cnt)
  print("Words with same starting and ending character : ",cnt1)

In [ ]:
countSameEnds("I am Sandeep patil. I am Sneha's dad . ")

I
I
dad
.
Words with lenght >= 2:  6
Words with same starting and ending character :  4

# **Tuple**

1. Create an empty tuple
2. Create a tuple with a single value
3. Create one tuple with numbers and one with strings
4. Create a tuple of lists and a list of tuples

In [ ]:
t = ()
type(t)

tuple

In [ ]:
t1 = (1)
print(type(t1))
t1 = (1,)      # , is necessor fo r single element
print(type(t1))
t1 = (1,2)
print(type(t1))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
t2=(1,2,3)
t3=("One","Two","Three")
print(type(t2),t2)
print(type(t3),t3)

<class 'tuple'> (1, 2, 3)
<class 'tuple'> ('One', 'Two', 'Three')

In [ ]:
t5=([1,2],["One","Two"])
t6=[(1,2),("One","Two")]

print(type(t5),t5)
print(type(t6),t6)

<class 'tuple'> ([1, 2], ['One', 'Two'])
<class 'list'> [(1, 2), ('One', 'Two')]

## 5. Access the 4th element of a tuple

In [ ]:
t1 = (1,2,3,4,5,6,7,8,9)
t1[3]

4

## 6. Access elements from index 1 to 3

In [ ]:
t1[1:4]

(2, 3, 4)

## 7.

In [ ]:
def sort_by_last(tuples):
  return sorted(tuples, key=lambda x: x[-1])

In [ ]:
t1=[(3,4,4),(1,2,3),(21,22),(11,12),(2,5)]
sort_by_last(t1)

[(1, 2, 3), (3, 4, 4), (2, 5), (11, 12), (21, 22)]

In [ ]:
def anothersort_by_last(tuples):
  return tuples[-1]

In [ ]:
t1=[(3,4,4),(1,2,3),(21,22),(11,12),(2,5)]
t1.sort(key=anothersort_by_last)
t1

[(1, 2, 3), (3, 4, 4), (2, 5), (11, 12), (21, 22)]

# **Dictionaries**

## 1

paint_codes = {
'p01': 'sky blue', 'p02': 'crimson red', 'p03': 'ice gray',
'p04': 'sunshine yellow', 'p05': 'lime green'
}

**Perform**:

a. Print only the color values

b. Print only the keys

c. Get value for key 'p02'

d. Fetch a value using .get()

e. Combine keys and values into a list

f. Print from second item onward

g. Change the value of 'p04' and verify

In [22]:
paint_codes = {
'p01': 'sky blue', 'p02': 'crimson red', 'p03': 'ice gray',
'p04': 'sunshine yellow', 'p05': 'lime green'
}

In [23]:
print(list(paint_codes.values()))

['sky blue', 'crimson red', 'ice gray', 'sunshine yellow', 'lime green']

In [24]:
print(list(paint_codes.keys()))

['p01', 'p02', 'p03', 'p04', 'p05']

In [29]:
paint_codes['p02']

'crimson red'

In [30]:
paint_codes.get('p02')

'crimson red'

In [31]:
list(paint_codes.items())

[('p01', 'sky blue'),
 ('p02', 'crimson red'),
 ('p03', 'ice gray'),
 ('p04', 'sunshine yellow'),
 ('p05', 'lime green')]

In [40]:
#f. Print from second item onward
l = list(paint_codes.items()) #f. Print from second item onward
l[1:]

[('p02', 'crimson red'),
 ('p03', 'ice gray'),
 ('p04', 'sunshine yellow'),
 ('p05', 'lime green')]

In [42]:
paint_codes['p04'] = 'Orange'
paint_codes

{'p01': 'sky blue',
 'p02': 'crimson red',
 'p03': 'ice gray',
 'p04': 'Orange',
 'p05': 'lime green'}

## 2.

students =

{
"alice": {"math": 90, "science": 85},

"bob": {"math": 78, "english": 88},

"carol": {"math": 92, "english": 95,
 "science": 89}
}

**Access**:

a. alice's science marks

b. bob's english marks

c. carol's math marks

In [43]:
students = {
"alice": {"math": 90, "science": 85},
"bob": {"math": 78, "english": 88},
"carol": {"math": 92, "english": 95, "science": 89}
}

In [45]:
students["alice"]["science"]

85

In [46]:
students["bob"]["english"]

88

In [47]:
students["carol"]["math"]

92

# **Sets**

primary_colors = ["red", "blue", "yellow", "blue"]

secondary_colors = ["green", "purple", "orange", "red"]

**Perform:**

 a. Print unique primary colors

b. Print each color in a separate line

c. Merge both lists and show the combined set

d. Print colors that exist in both

In [48]:
primary_colors = ["red", "blue", "yellow", "blue"]
secondary_colors = ["green", "purple", "orange", "red"]

In [51]:
# a. Print unique primary colors
colorP = set(primary_colors)
colorP

{'blue', 'red', 'yellow'}

In [57]:
#b. Print each color in a separate line
for i in range(0, len(colorP)):
  print(list(colorP)[i])

yellow
blue
red

In [61]:
#c. Merge both lists and show the combined set
mergedlist = primary_colors + secondary_colors
print(mergedlist)

mergedSet = set(mergedlist)
print(mergedSet)

['red', 'blue', 'yellow', 'blue', 'green', 'purple', 'orange', 'red']
{'blue', 'purple', 'yellow', 'green', 'red', 'orange'}

In [64]:
colorP = set(primary_colors)
colorS = set(secondary_colors)
print(colorP,colorS)

#d. Print colors that exist in both
colorP.intersection(colorS)

{'yellow', 'blue', 'red'} {'green', 'orange', 'purple', 'red'}

{'red'}

In [66]:
colorS.difference(colorP)

{'green', 'orange', 'purple'}

In [67]:
colorP.difference(colorS)

{'blue', 'yellow'}

In [68]:
colorP.issubset(colorS)

False

In [69]:
colorS2={'green', 'orange'}
colorS2.issubset(colorS)

True